.batman-between {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #fff;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50%;
}
.batman-between-title {
  font-size: 1.6rem;
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translateX(50%);
  font-weight: 500;
}
.batman-between.batman-between--click {
  animation: translateVaoGoc 2s ease-out;
  top: 90%;
  right: 5%;
}
.batman-between img {
  height: 80px;
  width: 80px;
  border: 2px solid;
  border-color: #000 transparent #000 transparent;
  padding: 10px;
  border-radius: 50%;
}
.batman-between.spin img {
  animation: quay 3s linear infinite;
}
@keyframes quay {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translateVaoGoc {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 90%;
    right: 5%;
  }
}
