@function rndNumber($limit) {
  @return random($limit);
}
.container-about {
  position: relative;
  height: 100vh;
  background-color: var(--background-color-right);
  animation: loading linear 1s;
}
@keyframes loading {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}
.abount-batman {
  position: absolute;
  top: 80%;
  right: 10%;
  transform: translateY(-100%);
  animation: batmanbay ease-out 3s;
}

@keyframes batmanbay {
  from {
    top: 100%;
    right: 0;
  }
  to {
    top: 80%;
    right: 10%;
  }
}

.abount-batman img {
  width: 350px;
  height: 300px;
  animation: rung 4s linear infinite;
}
@keyframes rung {
  0% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(10px, 20px);
  }
  100% {
    transform: translate(-10px);
  }
}

.about-batrandom-img {
  position: absolute;
  top: 40%;
  right: 30%;
  width: 70px;
  height: 50px;
  transform: rotate(315deg);
  animation: batrandom 15s linear infinite;
}
@keyframes batrandom {
  0% {
    top: 40%;
    right: 30%;
  }
  25% {
    top: 20%;
    right: 35%;
  }
  50% {
    top: 10%;
    right: 50%;
    transform: rotate(270deg);
  }
  75% {
    top: 10%;
    right: 70%;
    transform: rotate(270deg);
  }
  100% {
    top: 10%;
    right: 120%;
    transform: rotate(270deg);
  }
}
.about-batrandom-img2 {
  position: absolute;
  top: 70%;
  right: 30%;
  width: 70px;
  height: 50px;
  transform: rotate(225deg);
  animation: batrandom2 15s linear infinite;
}
@keyframes batrandom2 {
  0% {
    top: 70%;
    right: 30%;
  }
  25% {
    top: 80%;
    right: 35%;
  }
  50% {
    top: 80%;
    right: 50%;
    transform: rotate(270deg);
  }
  75% {
    top: 80%;
    right: 70%;
    transform: rotate(270deg);
  }
  100% {
    top: 80%;
    right: 120%;
    transform: rotate(270deg);
  }
}
/* content */

.about-content {
  background-color: transparent;
  border: 2px solid var(--background-color-left);
  position: absolute;
  top: 50%;
  left: 10%;
  height: 400px;
  width: 650px;
  transform: translateY(-50%);
  border-radius: 10px;
  color: var(--background-color-left);
  padding: 40px 10px 10px;
  z-index: 2;
}
.about-content-title {
  font-size: 2.1rem;
  line-height: 3rem;
}
.about-content-text {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: 'Syne Mono', monospace;
}
.about-background-title {
  color: var(--background-color-left);
  position: absolute;
  top: 28%;
  left: 6%;
  font-size: 10rem;
  font-weight: 700;
  z-index: 1;
  opacity: 0.5;
}

.container-about video {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
