.container-home {
  display: flex;
  height: 100%;
}
/* HOME LEFT */
.home-left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-left);
}
.home-header {
  height: var(--header-height);
}
.container-line-home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.line-home {
  height: 100px;
  position: relative;
}
.line-home-title {
  position: absolute;
  top: 5px;
  left: 150px;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 0;
  border-radius: 4px;
  text-align: center;
  width: 100px;
  color: var(--background-color-left);
  background-color: var(--background-color-right);
  animation: titleShow ease 2s;
}
@keyframes titleShow {
  0% {
    display: none;
    opacity: 0;
  }
  70% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.line-home-title::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -14px;
  border: 7px solid;
  border-color: transparent var(--background-color-right) transparent transparent;
}
.line-home-brand-face {
  position: absolute;
  top: 110px;
  left: 100px;
  animation: brandShow ease 1s;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
  color: var(--background-color-right);
}
.line-home-brand-youtube {
  position: absolute;
  top: 150px;
  transform: translateX(-50%);
  left: 100px;
  animation: brandShow ease 2s;
  cursor: pointer;
  z-index: 1;
  color: var(--background-color-right);
}
.line-home-brand-instagram {
  position: absolute;
  top: 190px;
  transform: translateX(-50%);
  left: 100px;
  animation: brandShow ease 3s;
  cursor: pointer;
  z-index: 1;
  color: var(--background-color-right);
}
@keyframes brandShow {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.line-home::before {
  position: absolute;
  content: '';
  top: 0;
  left: 100px;
  border-left: 2px solid black;
  height: 10px;
  animation: slowLine ease 2s;
}
.line-home--click.line-home::before {
  height: 100%;
  animation: slowDowLine ease 2s;
}
@keyframes slowDowLine {
  from {
    height: 10px;
  }
  to {
    height: 100%;
  }
}
@keyframes slowLine {
  from {
    height: 100%;
  }
  to {
    height: 10px;
  }
}
.line-home-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  left: 100px;
  transform: translateX(-50%);
  cursor: pointer;
  animation: slow ease 2s;
}
.line-home-icon img {
  transform: rotate(10deg);
  animation: batman 2s linear 1s infinite alternate;
}
.line-home-icon-click.line-home-icon {
  top: 220px;
  animation: slowDown ease 2s;
}
@keyframes batman {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes slow {
  from {
    top: 120px;
  }

  to {
    top: -10px;
  }
}
@keyframes slowDown {
  from {
    top: -10px;
  }

  to {
    top: 220px;
  }
}
.home-left-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-left-main-content {
  height: 400px;
  display: none;
  width: 0;
  border: 1px solid var(--background-color-right);
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 2px 5px 1px;
}
.home-left-main-content.home-left-main-content--show {
  width: 600px;
  display: block;
  animation: showcontentmain ease-out 2s;
}
@keyframes showcontentmain {
  0% {
    width: 0;
  }
  100% {
    width: 600px;
  }
}
.home-left-main-content img {
  position: absolute;
  height: 600px;
  width: 550px;
  bottom: 0;
  left: 0;
  transform: translate(40%, -41%);
  animation: showcontentmainimg ease-out 3s;
}
@keyframes showcontentmainimg {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-left-footer {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-left-footer-name {
  font-size: 3rem;
  margin-left: 10px;
  font-family: 'Pacifico', cursive;
}
.home-left-footer-about {
  font-size: 1.8rem;
  margin-right: 50px;
  text-decoration: none;
}
/* HOME RIGHT */
.home-right {
  width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-right);
}
.home-right.home-right--click {
  animation: doMau ease-out 3s;
  width: 50%;
}
@keyframes doMau {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.home-right-header {
  height: var(--header-height);
}
.home-right-header-hi {
  color: var(--background-color-left);
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  float: right;
  margin: 10px 10px;
}
.home-right-main {
  flex: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home-right-main-content {
  display: none;
  position: relative;
  width: 0;
  height: 400px;
  background-color: var(--background-color-right);
  border: 1px solid var(--background-color-left);
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 5px 1px var(--background-color-left);
  padding: 10px;
}
.home-right-main-content.home-right-main-content--show {
  display: block;
  width: 600px;
}
.home-right-main-content.home-right-main-content--show div {
  animation: showcontetrightmaindiv ease-in 4s;
}
@keyframes showcontetrightmaindiv {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.right-main-content-hi {
  margin-top: 50px;
  color: var(--background-color-left);
  font-size: 3rem;
  font-weight: 700;
  opacity: 0.9;
}
.right-main-content-title {
  color: var(--background-color-left);
  margin: 20px 0;
  font-size: 2.3rem;
  opacity: 0.9;
}
.right-main-content-end {
  color: var(--background-color-left);
  font-size: 2.3rem;
  line-height: 2.8rem;
  opacity: 0.7;
  width: 80%;
}
.home-right-footer {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-right-footer-skill {
  font-size: 1.8rem;
  color: var(--background-color-left);
  margin-left: 50px;
  text-decoration: none;
}
/*  */
.batman-between {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #fff;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50%;
}
.batman-between-title {
  font-size: 1.6rem;
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translateX(50%);
  font-weight: 500;
}
.batman-between.batman-between--click {
  animation: translateVaoGoc 2s ease-out;
  top: 90%;
  right: 5%;
}
.batman-between img {
  height: 80px;
  width: 80px;
  animation: quay 3s linear infinite;
  border: 2px solid;
  border-color: #000 transparent #000 transparent;
  padding: 10px;
  border-radius: 50%;
}
@keyframes quay {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translateVaoGoc {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 90%;
    right: 5%;
  }
}
