.container-home {
  height: 100%;
}
/* HOME LEFT */
.home-left {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-left);
}

.container-line-home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.home-left-main {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-left-main-content {
  height: 400px;
  display: none;
  width: 0;
  border: 1px solid var(--background-color-right);
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 2px 5px 1px;
  position: relative;
}
.home-left-main-content.home-left-main-content--show {
  width: 600px;
  display: block;
  animation: showcontentmain ease-out 2s;
}
@keyframes showcontentmain {
  0% {
    width: 0;
  }
  100% {
    width: 600px;
  }
}
.home-left-main-content img {
  position: absolute;

  bottom: 0;
  left: 0;
  animation: showcontentmainimg ease-out 3s;
}
@keyframes showcontentmainimg {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-left-footer {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-left-footer-name {
  font-size: 3rem;
  margin-left: 10px;
  font-family: 'Pacifico', cursive;
}
.home-left-footer-about {
  font-size: 1.8rem;
  margin-right: 50px;
  text-decoration: none;
}
/* HOME RIGHT */
.home-right {
  width: 0;
  height: 100vh;
  background-color: var(--background-color-right);
}
.home-right.home-right--click {
  animation: doMau ease-out 3s;
  width: 100%;
}
@keyframes doMau {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.home-right-header-hi {
  color: var(--background-color-left);
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  float: right;
  margin: 10px 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.home-right-main {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-right-main-content {
  display: none;
  position: relative;
  width: 0;
  height: 400px;
  background-color: var(--background-color-right);
  border: 1px solid var(--background-color-left);
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 5px 1px var(--background-color-left);
  padding: 10px;
}
.home-right-main-content.home-right-main-content--show {
  display: block;
  width: 600px;
}
.home-right-main-content.home-right-main-content--show div {
  animation: showcontetrightmaindiv ease-in 4s;
}
@keyframes showcontetrightmaindiv {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.right-main-content-hi {
  margin-top: 50px;
  color: var(--background-color-left);
  font-size: 3rem;
  font-weight: 700;
  opacity: 0.9;
}
.right-main-content-title {
  color: var(--background-color-left);
  margin: 20px 0;
  font-size: 2.3rem;
  opacity: 0.9;
}
.right-main-content-end {
  color: var(--background-color-left);
  font-size: 2.3rem;
  line-height: 2.8rem;
  opacity: 0.7;
  width: 80%;
}
.home-right-footer {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-right-footer-skill {
  font-size: 1.8rem;
  color: var(--background-color-left);
  margin-left: 50px;
  text-decoration: none;
  cursor: pointer;
}
/*  */

/* close */
.container-home--close {
  animation: closeHome 1s ease-in-out forwards;
}
@keyframes closeHome {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}
