:root {
  --primary-color: #333;
  --background-color: #999;
  --border-color: #999;
  --text-color-left: #333;
  --text-color-right: #fff;
  --background-color-right: #000;
  --background-color-left: #fff;
  --header-height: 100px;
  --footer-height: 100px;
}
* {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
